<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book | 網站規則</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/login.css" />
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/discussMainManger.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/index"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="mangerIndex"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>書本編輯</span></a>
										<ul>
											<li><a href="/bookAddForm">新增書本</a></li>
											<li><a href="/bookListByPageManger">書本查詢</a></li>
										</ul>
									</li>
									   <!-------------------------------------------------------------------------->
									<!--網站規則-->
									<li><a class="icon fa-retweet" href="/mangerRules"><span>網站規則</span></a></li>
									<!--管理員帳號管理---->
									<li>
										<a class="icon fa-retweet" href="#"><span>帳號管理</span></a>
										<ul>
											<li><a href="/mangerAddForm">新增帳號</a></li>
											<li><a href="/mangerListByPage">管理員查詢</a></li>
										</ul>
									</li>
								</ul>

								<!--login button-->
								<div id="login">
									<p class="logout"><a href="/mangerLogout">登出</a></p>
								</div>
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">
							<!-- Content -->
								<div id="content" class="8u 12u(mobile) important(mobile)">

									<!-- Post -->
										<div id="products_contents">
							<ul>
							<!-- ▼▼分類1從此開始▼▼ -->
							<li id="All">
								<p class="title">網站規則  Website Rule</p>
								<ul>
                                                                                                  
                                <div class="adver">
									<table class="table table-bordered productTable">
										<thead>
											<tr>
												<th>
													規則編號
												</th>
												<th>
													內容
												</th>
												<th>
													詳細
												</th>          
											</tr>
										</thead>
										<tbody>
											<!------------------------------>
											<!-- 顯示資料內容開始         -->
											<!------------------------------>                       
											<% for(var i=0; i<data.length; i++) {%>
												<tr>
													<td>
														<%= data[i].serNo %></a>
													</td>
													<td>
														<%= data[i].ruleContent %></a>
													</td>
													<td>
														<a href="/OneRule?serNo=<%= data[i].serNo %>"><font color="#FF0000">編輯</font></a>
													</td>                        
												</tr> 
											<% } %> 
											<!------------------------------>
											<!-- 顯示資料內容結束         -->
											<!------------------------------>                       
										</tbody>
									</table> 

									<button type="submit" class="btn btn-default">
										<a href="/ruleAddForm">新增</a>
									</button>
                                </div>                                                            
                                									
								</ul>
								<p class="pagetop"><a href="/rule">TOP ↑</a></p>
							</li>
                            <!-- ▲▲分類1到此為止▲▲ -->
						</div>
					</div>
				</div>

			

		</div>

		<!-- Scripts -->
			
        	<script src="js/menu.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>