<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--<link rel="stylesheet" href="css/main-test-3.css"/>-->		
		<!---書本移動---->		
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.jscrollpane.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />	
	    <link rel="stylesheet" type="text/css" href="css/reset.css" />

		<link rel="stylesheet" href="css/login.css" />
		<link rel="stylesheet" href="css/indexMain.css" />
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>

		<!--web icon-->
		<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
    	<!----<link href="images/logo.png" rel="shortcut icon">---->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/">Take Book</a></h1>
							<p>來看看大家寫的筆記和錄音，找本自己喜歡的書吧.</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/userIndex"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/userbookrank">熱門書排行榜</a></li>
											<li><a href="/userpointrank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/userDiscuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/userRules"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal0?userid=<%= userid %>"><span>個人資訊</span></a></li>
								</ul>
                                
								<!--login button-->
								<div id="login">
									<p class="logout"><a href="/logout">登出</a></p>
								</div>
                             <!--------------------------->                    
							</nav>
					</div>
				</div>

			<!-- Features3 -->
				<div id="features-wrapper">
					<section id="features" class="container">
						<header>
							<h2><strong>熱門推薦</strong><p/>-廣受注目的書籍-</h2>
						</header>
						<div class="row">
							<div class="4u 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>貓貓蟲咖波：食物世界超棒</h3>
										</header>
										百分之百台灣原汁原味獨創角色!<br />
									國際粉絲突破50萬!<br />
										Line貼圖排行榜上居高不下長青角色!</p>   
									</section>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>你的善良必須有點鋒芒</h3>
										</header>
										<p>幾年來，幾乎所有的竹科企業我都去過了，和企業的人有所接觸後，我才知道我過去有「知識偏執」的狀況，但我並沒有真正認識30歲上下的職場工作人員。</p>
									</section>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Feature -->
									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>朋友與敵人</h3>
										</header>
										<p>他的房子只是一個showroom。可是家不是showroom，家是讓你可以放鬆自在、活得像人的地方，家是因為住在裡面的人有自己的渴望、自己的感覺，才會有自己的風格。</p>
									</section>

							</div>
						</div>
						<ul class="actions">
							<li><a href="/userbookrank" class="button icon fa-file">More</a></li>
						</ul>
					</section>
				</div>
				
				
			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="inner">
						<section id="banner" class="container">
							<p>我相信，那一切都是種子。只有經過埋葬，才有生機。<br />
							--顧城《顧城詩集.給安徒生》</p>
						</section>
					</div>
				</div>

		<!-- Wrapper -第三樣板->
			<!-- Section -->
			
			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header>
						<h2><strong>About Us </strong></h2>
					</header>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<p>我們是來自國立台北商業大學資訊管理系的5位女孩.</br>
								我們還有Takebook LINE帳號，透過收集你的閱讀取向，</br>
								來推薦適合的書給你</br>
								還不趕快掃描加入~</p>
								<img src="http://qr-official.line.me/L/m47ROzXxy3.png">
								</form>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<div class="row">
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-home">
												100台北市<br />
												中正區濟南路一段321號
											</li>
											<li class="icon fa-phone">
												(000) 000-0000
											</li>
											<li class="icon fa-envelope">
												<a href="#">107511@ntub.edu.tw</a>
											</li>
										</ul>
									</div>
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-instagram">
												<a href="#">instagram.com/TakeBook</a>
											</li>
											<li class="icon fa-facebook">
												<a href="#">facebook.com/TakeBook</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

			</div>

		<!-- Scripts -->        	
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<!--書本移動--->
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
			<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
			<!-- the jScrollPane script -->
			<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
			<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
			<script type="text/javascript">
				$('#ca-container').contentcarousel();
			</script>
       		<!------------>
            <script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/index.js"></script>

	</body>
</html>