<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Take Book | 網站規則</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/discussMain.css" />
		<link rel="stylesheet" href="css/login.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->

		<!--web icon-->
    	<link rel="Shortcut Icon" type="image/x-icon" href="images/logo.png" />
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo -->
							<h2 class="logo"><a href="/"><img src="images/TITLE.png" width="260" height="57"></a></h2>

						<!-- Nav -->
							<nav id="nav">
								<ul>
                                	<!--首頁-->
									<li><a class="icon fa-home" href="/userIndex"><span>首頁</span></a></li>
                                    <!-------------------------------------------------------------------------->
                                    <!--排行榜-->
									<li>
										<a href="#" class="icon fa-bar-chart-o"><span>排行榜</span></a>
										<ul>
											<li><a href="/userbookRank">熱門書排行榜</a></li>
											<li><a href="/userpointRank">TB排行榜</a></li>
										</ul>
									</li>
                                   	<!-------------------------------------------------------------------------->
                                   	<!--討論區-->
									<li><a class="icon fa-cog" href="/userDiscuss"><span>討論區</span></a></li>
                                    <!--網站規則-->
									<li><a class="icon fa-retweet" href="/userRules"><span>網站規則</span></a></li>
                                    <!--個人資訊-->
									<li><a class="icon fa-sitemap" href="/personal0"><span>個人資訊</span></a></li>
								</ul>

								<!--login button-->
								<div id="login">
									<p class="logout"><a href="/logout">登出</a></p>
								</div>
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

								<!-- Excerpt -->
								<article class="box excerpt">
									<nav id="menu">
                                        <header class="major">
                                            <h2>分類 Category</h2>
                                        </header>
									<ul>
										<li><a href="#All">網站規則 Website Rule</a></li>
										<li><a href="#Chinese">發文規則 Write a Post</a></li>										
										<li>											
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
									</ul>
									</nav>
								</article>
								</div>

							<!-- Content -->
								<div id="content" class="8u 12u(mobile) important(mobile)">

									<!-- Post -->
										<div id="products_contents">
							<ul>
							<!-- ▼▼分類1從此開始▼▼ -->
							<li id="All">
								<p class="title">網站規則  Website Rule</p>
								<ul>
                                                                                                  
                                <div class="adver">
								<% for(var i=0; i<data.length; i++) {%>
									<p>◆<%= data[i].ruleContent %></p>
								<% } %> 
                                </div>                                                            
                                									
								</ul>
								<p class="pagetop"><a href="/rule">TOP ↑</a></p>
							</li>
                            <!-- ▲▲分類1到此為止▲▲ -->
                            
							<!-- ▼▼分類2從此開始▼▼ -->
							
							<li id="Chinese">
								<p class="title">發文規則 Write a Post</p>
								<ul>
								                                    
                                <div class="adver">
								<% for(var i=0; i<data.length; i++) {%>
									<p>◆<%= data[i].ruleContent %></p>
								<% } %> 
                                </div>
                                                                                                            
								</ul>
								<p class="pagetop"><a href="/rule">TOP ↑</a></p>
							</li>
							<!-- ▲▲分類2到此為止▲▲ -->                        
							
								</div>

						</div>
					</div>
				</div>

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header>
						<h2><strong>About Us </strong></h2>
					</header>
					<div class="row">
						<div class="6u 12u(mobile)">
							<section>
								<p>我們是來自國立台北商業大學資訊管理系的5位女孩.</br>
								我們還有Takebook LINE帳號，透過收集你的閱讀取向，</br>
								來推薦適合的書給你</br>
								還不趕快掃描加入~</p>
								<img src="http://qr-official.line.me/L/m47ROzXxy3.png">
								</form>
							</section>
						</div>
						<div class="6u 12u(mobile)">
							<section>
								<div class="row">
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-home">
												100台北市<br />
												中正區濟南路一段321號
											</li>
											<li class="icon fa-phone">
												(000) 000-0000
											</li>
											<li class="icon fa-envelope">
												<a href="#">107511@ntub.edu.tw</a>
											</li>
										</ul>
									</div>
									<div class="6u 12u(mobile)">
										<ul class="icons">
											<li class="icon fa-instagram">
												<a href="#">instagram.com/TakeBook</a>
											</li>
											<li class="icon fa-facebook">
												<a href="#">facebook.com/TakeBook</a>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Scripts -->
			
        	<script src="js/menu.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>