@charset "utf-8";

/*---------------------------*/
/* 定義標題                   */
/*---------------------------*/
#login .userName{
    position:absolute;
	top:30px;
	left:63%;
	margin-top:-60px;
	margin-left:270px;
}

#login .logout{
	font-size:18px;
	border: solid 1px #ed786a;
	border-radius: 4px;
	padding:5px 20px;
	background-color: rgba(237,120,106,0.3);
	position:absolute;
    top:-15px;
	left:70%;
	margin-top:10px;
	margin-left:205px;
}



