.title{
    border: solid 2px #ed786a;
    border-radius: 10px;
    box-shadow: 4px 4px 8px -2px #888888; 
    padding:40px 0px;
    margin: 30px 25%;

}

#features-wrapper{
    margin: -10% 0px;
}

#nav{
    border-bottom: double 4px #D8D5D5;
}
